.container-header {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    & .title-name {
        justify-content: flex-end;
        align-items: center;
    }

    & .switch__container {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 90%;
    }

    & .switch__container p {
        margin: 0;
        margin-right: 10px;
    }
}

.container-fluid {
    width: 80% !important;
    & .main-media {
        margin-right: auto;
        text-align: center;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        
        & .main-media__disp{
            background-color: hsl(225, 100%, 98%);
            width: 80%;
            border-radius: 6px;
            align-items: center;
            
            & .main-media__logo {
                display: flex;
                justify-content: center;
                padding: 10px 0px;
                margin-top:20px !important;
                & .logo__img {
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;
                }
                & .logo__text {
                    font-weight: 600;
                    color: hsl(228, 12%, 44%);
                }
            }
            & .main-meida__number--num{
                font-size: 60px;
                font-weight: 600;
                margin-bottom: 0;
            }
        }
        & .main-meida__number--num--txt{
            letter-spacing: .3rem;
            color: hsl(228, 12%, 44%);
        }
        & .main-media__update{
            display: flex;
            align-items: center;
            justify-content: center;
           
            & .update--icon{
                height: 6px;
                margin-bottom: 16px;
                margin-right: 10px;
            }
        }
    }
}


 .border--gradient{
    width: 100%;
    height: 5px;
    background:linear-gradient(to right,hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    border-radius: 6px;
}

.main-today__over{
    margin-top: 20px;
}

.main-today{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 30px auto;
}
.main-today__cards{
    background-color: hsl(225, 100%, 98%);
    // padding: 20px;
    border-radius: 8px;
    // height: 70%;
    width: 80%;
    & .main-today__cards--logo{

        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-around;
        margin-top: 20px;
        & .main-today__txt{
            font-size: 14px;
            font-weight: 600;
            color: hsl(228, 12%, 44%);
        }
        & .main-today__icon{
            width: 20px;
            height: 20px;
            margin-bottom: 16px;
        }
    }
    & .main-today__cards--num{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;

        & .main-today__num{
            color: #000;
            font-size: 30px;
            font-weight: 600;
        }
        & .main-today__review{
            display: flex;
            padding: 20px;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 11px;
            font-weight: 650;
            & .main-today__icon{
                width: 7px;
                height: 6px;
                margin-bottom: 16px;
                margin-right: 5px;
            }
        }

    }
}

.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.switch--shadow + label {
    padding: 2px;
    width: 60px;
    height: 30px;
    background-color: #dddddd;
    border-radius: 60px;
}
.switch--shadow + label:before,
.switch--shadow + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
.switch--shadow + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: all 0.4s;
}
.switch--shadow + label:after {
    width: 30px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}
.switch--shadow:checked + label:before {
    background-color: #2445a1;
}
.switch--shadow:checked + label:after {
    transform: translateX(29px);
}
